;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[reagent "1.0.0"]
  [cljs-http "0.1.46"]
  ;;routing
  [metosin/reitit "0.5.11"]
  [metosin/reitit-spec "0.5.11"]
  [metosin/reitit-frontend "0.5.11"]]

 :dev-http {8080 "public"}
 :builds
 {:frontend
  {:target :browser
   :modules {:main {:init-fn dashboard.frontend.app/init}}}}}
